@charset "utf8";


body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background-color: #f2f2f8; 
	font-size: 1em;
	line-height: 1.5em;	
}
 
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}
 
p {
	margin: 0 0 1.5em 0;
} 
/*
 * Logo
 */
#titulo {
	float: left;
	color: white;
	text-decoration: none;
	width: 220px;
}
	#titulo:hover {
		color: #0b76a6;
	}

	#titulo .logo {
	position: relative;
	float:inherit;
	height: 65px;
	}
	
	#titulo .site-name {
		position: relative;
		float: left;
		display: block;
		font-weight: 700;
		font-size: 1.5em;		
	}
	
	#titulo .site-desc {
		position: relative;
		float: left;
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: white;
	}
 
/*
 * Navegación
 */
#cabecera {
	background-color: #2A4C3B;
	border: 0px;
	border-radius: 0px;
	box-shadow: 1px 2px 9px #888888;
	margin-bottom: 0px;
}
	#cabecera a {
		color: white;
	}
	#cabecera li .dropdown-toggle {
		background-color: #333;		
	}
	#cabecera li .dropdown-menu{
		background-color: #333;
	}
	#cabecera li .dropdown-menu li a:hover {
		color: #333;
	}
	
/*
Contenido
*/
#formularios {
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
	background-color: #fff;
	border:1px solid;
}

 /* MAPA*/
	#cont-fluid {
		height: 100%;
		width: 100%;
		padding-top: 10px;
		padding-right: 10px;
		padding-left: 10px;
		margin: 0 auto;
	}
	#mapa {
		height: 580px;
		border-radius: 4px;
		float: right;
		margin-bottom: 10px;
	}

	#logobt {
		height: 25px;
		width: 25px;
		margin-right: 5px;
		vertical-align: middle;
	}
	.controls {
		margin-top: 10px;
		border: 1px solid transparent;
		border-radius: 2px 2px 2px 2px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 32px;
		outline: none;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	}
	#pac-input {
		background-color: #fff;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 300;
		margin-left: 12px;
		padding: 0 11px 0 13px;
		text-overflow: ellipsis;
		width: 300px;
	}

	#dispos{
		padding-left: 0px;
	}